body{
    margin: 0;
    padding: 0;
    background-color: #4801ff;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.earth{
    display: flex;
    align-items: center;
    margin: 10px;
}

.image-darken {
    transition: opacity 0.3s ease; /* Smooth transition */
}

.image-darken:hover {
    opacity: 0.6; /* Darkens image by reducing opacity */
}

a{
    text-decoration: none;
}

.earth-text{
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: Impact, serif;
    text-shadow: 2px 2px 5px #245DDA;
}

.earth:hover{
    font-size: 29px !important;
}

.code-box {
    width: 600px;
}

