body{
    margin: 0;
    padding: 0;
    background-color: #4801ff;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.earth{
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-darken {
    transition: opacity 0.3s ease; /* Smooth transition */
}

.image-darken:hover {
    opacity: 0.6; /* Darkens image by reducing opacity */
}

.earth-text{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Impact, serif;
    text-shadow: 2px 2px 5px #245DDA;
}

.earth:hover{
    font-size: 29px !important;
}

.left-container{
    width: 250px;
}

.words{
    font-family: Impact, serif;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin: 25px;
    transform: rotate(-3deg);
    line-height: 0.9; /* Reduce line height */
}

.words::before {
    color: #000;
    margin-right: 10px;
}


.words-2{
    transform: rotate(2deg);
    color: grey;
    font-size: 60px;
}

@media screen and (max-width: 768px) {
    .words{
        font-size: 50px;
        margin: 20px;
        width: 130px;
    }

    .words-2{
        align-self: flex-end;
    }

    .left-container{
        height: 100vh;
        width: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: space-between;
    }

    body {
        overflow-x: hidden;
    }

}


